{% extends 'layout.html' %} {% block title %}papers{% endblock %} {% block script %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/pagination.css" />
<style type="text/css">
  body {
    color: #333333;
    line-height: 1.4;
  }
  
  a {
    color: #34538b;
  }
  
  .pagination {
    font-size: 84%;
  }
  
</style>

{% endblock %} {% block content %}
<h1>Papers <span class="badge">{{ papers.length }}</span> <a href="/paper/new" class="btn btn-success btn-sm" style="display:inline-block;margin-left:10px;">Create a paper</a></h1>
<ul class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab">All</a></li>
  {% for tag in tagsHead %}
  <li><a href="#tagName{{tag.name}}" data-toggle="tab">{{tag.name}}</a></li>
  {% endfor %} {% if moreTags.length > 0 %}
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
      More... <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      {% for tag in moreTags %}
      <li><a href="#tagName{{tag.name}}" data-toggle="tab">{{tag.name}}</a></li>
      {% endfor %}
    </ul>
  </li>
  {% endif %}
</ul>
<div class = "row">
  <div class="tab-content">
    <div class="tab-pane fade active in" id="home">
      <div id="Searchresult0">分页初始化完成后这里的内容会被替换。</div>
      <div id="hiddenresult0" style="display:none;">
        <ul id="papers">
          {% for paper in papers %}
          <blockquote class="show">
            <a href="/paper/{{ paper._id.toString() }}" target="_blank">{{ paper.title }}</a>
            <small>{{paper.tag.AUTHOR}}</small>
          </blockquote>
          {% endfor %}
        </ul>
      </div>
      <div id="Pagination0" class="pagination">
      </div>
    </div>
    {% set i=0%} 
    {% for tag in tags %} 
    {% set i=i+1 %}
    <div class="tab-pane fade" id="tagName{{tag.name}}">
      <div id="Searchresult{{i}}">分页初始化完成后这里的内容会被替换。</div>
      <div id="hiddenresult{{i}}" style="display:none;">
        <ul id="papers">
          {% for paper in tag.papers %}
          <blockquote class="show">
            <a href="/paper/{{ paper._id.toString() }}" target="_blank">{{ paper.title }}</a>
            <small>{{paper.tag.AUTHOR}}</small>
          </blockquote>
          {% endfor %}
        </ul>
      </div>
      <div id="Pagination{{i}}" class="pagination">
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<script type="text/javascript" src="/jquery.min.js"></script>
<script src="/bootstrap.min.js"></script>
<script type="text/javascript" src="/jquery.pagination.js"></script>
<script type="text/javascript">
  $(function(){
    
    var initPagination = function() {
      // 创建分页
      var index=0;
      $(".pagination").each(function(p){
        var length = $("#hiddenresult"+index+" .show").length;
        console.log(index+":"+length);
        $("#Pagination"+index).pagination(length, {
          num_edge_entries: 1, //边缘页数
          num_display_entries: 4, //主体页数
          callback: pageselectCallback,
          items_per_page:{{ itemPerPage }} //每页显示1项
        });
        var indexInside;
        indexInside = index;
        function pageselectCallback(page_index, jq){
          // 从表单获取每页的显示的列表项数目
          console.log(indexInside);
          if (!jq.length)
          {
            var id = jq.id;
          } else {
            id = jq[0].id;
          }
          var indexInside = id.slice(10,11);
          var items_per_page = {{ itemPerPage }};
          var max_elem = Math.min((page_index+1) * items_per_page, length);
          console.log(length);
          console.log(max_elem);
          $("#Searchresult"+indexInside).html("");
          // 获取加载元素
          for(var i = page_index * items_per_page; i < max_elem; i++){
            $("#Searchresult"+indexInside).append($('#hiddenresult'+indexInside+' .show:eq('+i+')').clone());
          }
          //阻止单击事件
          return false;
        }
        index = index + 1;
      });
    }();
  });

</script>

{% endblock %}