{% extends 'layout.html' %}

{% block title %}papers{% endblock %}
{% block script %}    
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="pagination.css" />
  <style type="text/css">
  body{font-size:84%; color:#333333; line-height:1.4;}
  a{color:#34538b;}
  </style>
  <script type="text/javascript" src="jquery.min.js"></script>
  <script type="text/javascript" src="jquery.pagination.js"></script>
  <script type="text/javascript">
  $(function(){
    var length = $("#hiddenresult .show").length;
    var initPagination = function() {
      // 创建分页
      $("#Pagination").pagination(length, {
        num_edge_entries: 1, //边缘页数
        num_display_entries: 4, //主体页数
        callback: pageselectCallback,
        items_per_page:{{ itemPerPage }} //每页显示1项
      });
    }();

    function pageselectCallback(page_index, jq){
		// 从表单获取每页的显示的列表项数目
		var items_per_page = {{ itemPerPage }};
		var max_elem = Math.min((page_index+1) * items_per_page, length);
        console.log(length);
		
		$("#Searchresult").html("");
		// 获取加载元素
		for(var i=page_index*items_per_page;i<max_elem;i++){
			$("#Searchresult").append($("#hiddenresult .show:eq("+i+")").clone());
		}
		//阻止单击事件
		return false;
	}
  });
  </script>
{% endblock %}
{% block content %}
  <h1>Papers <span class="badge">{{ papers.length }}</span> <a href="/paper/new" class="btn btn-success btn-sm" style="display:inline-block;margin-left:10px;">Create a paper</a></h1>
   
  <div id="Searchresult">分页初始化完成后这里的内容会被替换。</div>
  <div id="hiddenresult" style="display:none;">
  <ul id="papers">
    {% for paper in papers %}
      <blockquote class="show">
        <a href="/paper/{{ paper._id.toString() }}" target="_blank">{{ paper.title }}</a>
        <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
      </blockquote>
    {% endfor %}
  </ul>
  </div>
  <div id="Pagination" class="pagination"><!-- 这里显示分页 --></div>
  
{% endblock %}
