{% extends 'layout.html' %}

{% block title %}papers{% endblock %}
{% block script %}    
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="pagination.css" />
  <style type="text/css">
  body{font-size:84%; color:#333333; line-height:1.4;}
  a{color:#34538b;}
  </style>
  <script type="text/javascript" src="jquery.min.js"></script>
  <script type="text/javascript" src="jquery.pagination.js"></script>
  <script type="text/javascript">
  $(function(){
    var length = $("#hiddenresult .show").length;
    var initPagination = function() {
      // 创建分页
      $("#Pagination").pagination(length, {
        num_edge_entries: 1, //边缘页数
        num_display_entries: 4, //主体页数
        callback: pageselectCallback,
        items_per_page:{{ itemPerPage }} //每页显示1项
      });
    }();

    function pageselectCallback(page_index, jq){
		// 从表单获取每页的显示的列表项数目
		var items_per_page = {{ itemPerPage }};
		var max_elem = Math.min((page_index+1) * items_per_page, length);
        console.log(length);
		
		$("#Searchresult").html("");
		// 获取加载元素
		for(var i=page_index*items_per_page;i<max_elem;i++){
			$("#Searchresult").append($("#hiddenresult .show:eq("+i+")").clone());
		}
		//阻止单击事件
		return false;
	}
  });
  </script>
{% endblock %}
{% block content %}
  <h1>Papers</h1>
  <p>You have <strong>{{ papers.length }}</strong> papers!</p>
  <p><a href="/paper/new">Create a paper</a></p>
  <div id="Pagination" class="pagination"><!-- 这里显示分页 --></div>
  <div id="Searchresult">分页初始化完成后这里的内容会被替换。</div>
  <div id="hiddenresult" style="display:none;">
  <ul id="papers">
    {% for paper in papers %}
     <div class="show">
      <li>
        <h2>{{ paper.title }}</h2>
        <p><a href="/paper/{{ paper._id.toString() }}">Read paper</a></p>
      </li>
      </div>
    {% endfor %}
  </ul>
  </div>
  <h1>search</h1>
  <form action="/search" method="post">
    <p><input placeholder="title or null" type="text" name="title"></p>
    <p><input placeholder="author or null"" type="text" name="author"></p>
    <p><input placeholder="journal or null" type="text" name="journal"></p>
    <p><input type="submit"></p>
  </form>
{% endblock %}
